@import "tailwindcss";

@import 'maplibre-gl/dist/maplibre-gl.css';

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* Dotted background with pulse animations */
.dotted-background {
  background-color: #f5f7fa;
  background-image: radial-gradient(circle, #cbd5e1 2px, transparent 2px);
  background-size: 25px 25px;
  background-position: 0 0, 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.dotted-background::before,
.dotted-background::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(79, 70, 229, 0.2);
  z-index: -1;
}

.dotted-background::before {
  top: 15%;
  left: 20%;
  animation: pulse 12s ease-in-out infinite alternate;
}

.dotted-background::after {
  bottom: 15%;
  right: 20%;
  animation: pulse 15s ease-in-out infinite alternate-reverse;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.8);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}

/* Add more pulse elements with different positions and timings */
.dotted-background::before,
.dotted-background::after {
  box-shadow: 
    500px 300px 0 rgba(219, 39, 119, 0.15),
    -400px 200px 0 rgba(6, 182, 212, 0.15),
    -300px -400px 0 rgba(5, 150, 105, 0.15);
}